# ??? Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
crash.log

# ??? Creative Assets
*.blend1
*.kra~
*.autosave.kra
*.capcutproj
*.mp4
*.mov
*.tmp
*.bak

# ?? HTML/CSS/JS
node_modules/
dist/
build/
*.log
*.cache
.env
.env.*

# ?? Windows/macOS Artifacts
desktop.ini
Thumbs.db
.DS_Store

# ?? IDE Junk
.vscode/
.idea/
